// Paths
@fonts-path: "../fonts";
@img-path: "../img";

// Fonts
@font-family-main: "PT Sans";
@font-family: "PT Sans", Arial, sans-serif;
@font-size-mobile-big: 21px;
@font-size-mobile-regular: 14px;
@font-size-tablet-big: 21px;
@font-size-tablet-regular: 14px;
@font-size-large: 30px;
@line-height: 26px;

// Viewports
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

// Colors
@color-white: #FFFFFF;
@color-black: #000000;
@color-primary: #81B3D2;
@color-primary-hover: #669EC0;
@color-primary-active: #5496BD;
@color-secondary: #EEEEEE;

@color-secondary-border: #D6D6D6;
@color-disable: #E5E5E5;
@color-secondary-input-background: #F2F2F2;
@color-secondary-button-background: #E6E6E6;

@color-background: #F2F2F2;
