.advantages {
  margin-top: 4px;
  margin-bottom: 4px;

  &--secondary {
    background-color: @color-secondary;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-evenly;
  }
}
