.button {
  width: 100%;
  height: 58px;
  margin: 13px auto 0;
  padding: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 58px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;

  color: @color-white;
  background-color: @color-primary;
}

.button--find {
  .base-link;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  line-height: 26px;
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    width: 458px;
    margin-top: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 42px;
  }
}

.button--medium {
  width: 180px;
  height: 58px;

  @media (min-width: @tablet-width) {
    width: 272px;
    height: 58px;
  }
}

.button--large {
  width: 280px;
  height: 58px;

  @media (min-width: @tablet-width) {
    width: 458px;
    height: 58px;
  }
}

.button--send {
  margin: 0;
  padding-top: 3px;

  @media (min-width: @tablet-width) {
    padding-right: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
  }
}

.button:hover {
  background-color: @color-primary-hover;
}

.button:active {
  color: #87b4d1;
  background-color: @color-primary-active;
}

.button:disabled {
  background-color: @color-disable;
}
