.copyright {
  width: 100%;
  margin-bottom: 26px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    &:visited {
      color: @color-black;
    }
  }

  &__text {
    margin-right: 12px;
  }
}
