.feedback {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.feedback__field-header {
  font-weight: 700;
  font-size: 18px;
  line-height: @line-height;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;

  &--introduse {
    margin-bottom: 19px;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
    background-color: @color-white;

    &--border {
      width: 409px;
    }

    &--left {
      text-align: left;
    }

    &--impressions {
      text-align: left;
      background-color: transparent;
      white-space: nowrap;
    }

    &--introduse {
      text-align: left;
      margin-bottom: 54px;
      margin-left: 2px;
    }

    &--emotions {
      width: 409px;
    }
  }

  @media (min-width: @desktop-width) {
    &--impressions {
      margin-left: 74px;
    }

    &--introduse {
      text-align: left;
      margin-bottom: 60px;
    }
  }
}

.feedback__field-wrapper {
  @media (min-width: @tablet-width) {
    &--border {
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 10;

      &::before {
        content: "";
        position: absolute;
        top: 26px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #dbdbdb;
        z-index: -1;
      }
    }

    &--contacts {
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 10;
      margin-bottom: 3px;

      &::before {
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #dbdbdb;
        z-index: -1;
      }
    }

    &--emotions {
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 10;

      &::before {
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #dbdbdb;
        z-index: -1;
      }
    }
  }

  @media (min-width: @desktop-width) {
    &--contacts {
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 10;
      margin-bottom: 47px;
    }
  }
}

.feedback__field-body {
  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.feedback__field {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  border-top: 1px solid @color-disable;

  &:nth-child(2) {
    padding-bottom: 7px;
  }

  &:nth-child(3) {
    padding-bottom: 20px;
  }

  &:nth-child(4) {
    padding-top: 15px;
    padding-bottom: 17px;
  }

  &:nth-child(6) {
    border-top: none;
    padding-top: 26px;
  }

  &:last-child {
    border-top: none;
    padding-bottom: 14px;
  }

  @media (max-width: @mobile-width-only) {
    padding-top: 20px;
  }

  @media (min-width: @tablet-width) {
    border-top: none;

    &:nth-child(1) {
      order: 2;
      width: 35%;
      padding: 0;
      position: absolute;
      right: 60px;
    }

    &:nth-child(2) {
      order: 3;
      width: 100%;
      padding: 0;
      margin-top: 367px;
    }

    &:nth-child(3) {
      order: 1;
      width: 35%;
      padding: 0;
      position: absolute;
      left: 60px;
    }

    &:nth-child(4) {
      order: 4;
      padding: 0;
      margin-top: 32px;
      width: 100%;
    }

    &:nth-child(5) {
      order: 5;
      width: 100%;
      padding: 0;
      margin-top: 66px;
      margin-bottom: 38px;
    }

    &:nth-child(6) {
      order: 6;
      display: flex;
      align-items: center;
      padding: 0;
      margin-top: 0;
      margin-bottom: 60px;
      width: 50%;
    }

    &:nth-child(7) {
      order: 7;
      display: flex;
      justify-content: flex-end;
      padding: 0;
      margin-top: 0;
      margin-bottom: 60px;
      width: 50%;
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-child(1) {
      width: 400px;
      margin-left: auto;
      position: inherit;
      left: 0;
    }

    &:nth-child(2) {
      margin-top: 50px;
    }

    &:nth-child(3) {
      width: 400px;
      padding-left: 8px;
      margin-right: auto;
      position: relative;
      left: 0;

      &::before {
        left: 100%;
      }
    }

    &:nth-child(4) {
      width: 100%;
      margin-top: 28px;
    }

    &:nth-child(5) {
      margin-top: 64px;
    }

    &:nth-child(6) {
      margin-bottom: 74px;
    }
  }
}
