.feedback {
  &__field-header {
    font-weight: 700;
    font-size: @font-size-mobile-big;
    line-height: @line-height;
    text-align: center;
    margin-top: 0;
  }

  &__field {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
    border-top: 1px solid @color-disable;

    &:last-child {
      border-top: none;
    }
  }
}
