.intro__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../source/img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 389px;

  &--small {
    height: 158px;
  }
}

.intro__tagline {
  width: 282px;
  height: 214px;
}
