.main-nav {
  color: @color-white;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 4px;
  width: 55px;
  height: 55px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 100;
  background-color: transparent;

  &--close {
    background-image: url("@{img-path}/icon-menu.svg");
    background-size: 22.9px 22px;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &:hover {
      background-image: url("@{img-path}/icon-menu-hover.svg");
    }

    &:active {
      background-image: url("@{img-path}/icon-menu-down.svg");
    }
  }

  &--open {
    background-image: url("@{img-path}/icon-cross.svg");
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &:hover {
      background-image: url("@{img-path}/icon-cross-hover.svg");
    }

    &:active {
      background-image: url("@{img-path}/icon-cross-down.svg");
    }
  }

  &--nojs {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__wrapper {
  height: 56px;

  &--small {
    @media (min-width: @tablet-width) {
      height: 50px;
    }
  }
}

.main-nav__list {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: @color-primary;
  z-index: 10;

  :first-child {
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    height: 7px;
    mix-blend-mode: normal;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.07) 100%);
  }

  &--hidden {
    display: none;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    background-color: @color-white;

    &::after {
      background: none;
    }
  }
}

.main-nav__item {
  list-style-type: none;
  width: 100%;
  min-width: 153px;
  height: 55px;
  line-height: 55px;
  background-color: @color-primary;
  color: @color-white;
  font-size: @font-size-mobile-big;
  font-weight: 700;
  text-align: center;
  user-select: none;
  margin-top: 1px;
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &--placeholder {
    display: none;
  }

  :hover {
    background-color: @color-primary-hover;
  }

  :active {
    color: #87b4d1;
    background-color: @color-primary-active;
  }

  :disabled {
    color: @color-white;
    background-color: @color-disable;
  }

  @media (max-width: @mobile-width-only) {
    font-size: 18px;
  }

  @media (min-width: @tablet-width) {
    background-color: @color-white;
    box-shadow: none;
    font-size: @font-size-tablet-regular;

    &--placeholder {
      display: block;
    }

    :hover {
      color: @color-primary;
      background-color: @color-white;
    }

    :active {
      color: #3b3b3b;
      background-color: @color-white;
    }
  }
}

.main-nav__link {
  .base-link();
  display: block;
  color: @color-white;

  :visited {
    color: @color-white;
  }

  @media (min-width: @tablet-width) {
    color: @color-black;

    &--active {
      color: #766357;
    }
  }
}
