.page__body {
  font-family: @font-family;
  font-size: @font-size-mobile-regular;
  line-height: @line-height;
  text-transform: uppercase;
  background-color: @color-background;
  overflow-x: hidden;
}

.page__wrapper {
  max-width: 1200px;
  background-color: @color-white;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
