.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: -4px;

  @media (min-width: @tablet-width) {
    margin-top: 19px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 54px;
  }
}

.player__video {
  width: 320px;
  height: 201px;
  object-fit: contain;

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
    height: 500px;
  }
}

.player__controls-wrapper {
  @media (min-width: @tablet-width) {
    height: 40px;
  }
}

.player__timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -44px;
  left: 0;
  width: 280px;
  min-height: 45px;
  background-color: rgba(0, 0, 0, 0.6);

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 93px;
    top: -93px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
    height: 93px;
    top: -93px;
  }
}

.player__line {
  height: 3px;
  width: 235px;
  background-color: @color-white;
  opacity: 0.2;
  z-index: 50;

  @media (min-width: @tablet-width) {
    width: 389px;
    margin-left: -77px;
  }

  @media (min-width: @desktop-width) {
    width: 540px;
  }
}

.player__dot {
  position: absolute;
  height: 9px;
  width: 9px;
  left: 21%;
  padding: 0;
  border-radius: 50%;
  background-color: @color-white;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 50;

  @media (min-width: @tablet-width) {
    left: 32%;
  }

  @media (min-width: @desktop-width) {
    left: 25.7%;
  }
}

.player__buttons {
  top: -44px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 66px;
  margin: 0;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 93px;
    top: -186px;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.player__button {
  width: 32px;
  height: 32px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 31px;
  background-color: transparent;

  &:first-child {
    margin-left: 15px;

    @media (min-width: @tablet-width) {
      margin-left: 25px;
      margin-right: 35px;
    }
  }

  &:nth-child(2) {
    margin-left: auto;
  }

  &:last-child {
    margin-right: 15px;

    @media (min-width: @tablet-width) {
      margin-right: 37px;
    }
  }

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }
}

.player__button:hover .player__icon {
  fill: #333333;
}

.player__button:active .player__icon {
  fill: #c1c1c1;
}

.player__icon {
  fill: #5c6870;

  @media (min-width: @tablet-width) {
    fill: @color-white;
  }
}
