.popup {
  position: relative;
  z-index: 1000;
  padding-bottom: 35px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 49px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  &--large {
    @media (min-width: @tablet-width) {
      width: 640px;
    }
  }
}

.popup__buttons {
  display: flex;

  @media (min-width: @tablet-width) {
    width: 273px;
  }

  &--large {
    @media (min-width: @tablet-width) {
      width: 458px;
    }
  }
}
