.postcard {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: @color-primary;
  }

  &__photo {
    width: fit-content;
    max-height: 260px;
  }
}
