.text-field {
  display: flex;
}

.text-field--inline {
  display: flex;
  flex-direction: column;
}

.text-field__wrapper {
  width: 100%;
  margin-bottom: 14px;

  &--inline {
    display: flex;
    align-items: baseline;
  }

  &--center {
    display: flex;
    justify-content: center;
  }

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
  }
}

.text-field__title {
  display: block;
  margin-right: 20px;
  margin-bottom: 8px;

  &--shifted {
    margin-left: 21px;
  }
}

.text-field__input-wrapper {
  display: flex;
  width: 100%;
}

.text-field__input {
  width: 100%;
  height: 58px;
  margin: 0;
  padding: 0 20px;
  padding-right: 20px;
  font-weight: 700;
  font-size: @font-size-mobile-big;
  line-height: @line-height;
  color: @color-black;
  text-transform: none;
  background-color: @color-secondary-input-background;
  border: none;
  outline: none;

  &:hover {
    background-color: @color-disable;
  }

  &:focus {
    background-color: @color-white;
    box-shadow: inset 0 0 0 4px @color-disable;
  }

  &--large {
    height: 160px;
    padding-top: 18px;
    resize: none;
  }

  @media (min-width: @tablet-width) {
    &--large {
      width: 100%;
      height: 160px;
    }
  }

  @media (min-width: @desktop-width) {
    &--mini {
      width: 217px;
    }
  }
}

.text-field__icon {
  width: 18px;
  height: 18px;
  padding: 20px;
  background-color: @color-secondary-button-background;
}

.feedback__field-text {
  &--detail {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
  }
}
