.tips {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 0;
  }

  &__icon {
    margin-top: 14px;
    margin-right: 13px;
    width: 40px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-left: 0;
    width: 290px;
  }

  &__title {
    font-weight: 700;
    font-size: @font-size-mobile-big;
  }
}
